.container {
  margin: 50px auto;
  padding: 20px;
  width: 500px;
  height: 100%;
  color: #032444;
  background: lightsteelblue;
  font-size: 18px;
}

.form {
  width: 320;
}

.label {
  display: 'flex';
  flex-direction: 'column';
  margin-bottom: 15;
}
